body {
	font-family: 'Amatic SC', Impact;
	color: black;
}

h1 {
	margin: 0px;
}

#header {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	width: auto;
	height: 30%;
	vertical-align: middle;
	padding: 0px;
	margin: 10px;
	margin-top: 80px;
	margin-bottom: 0px;
}

@media (max-width: 700px) {
	#header{
		font-size: 2em;
		margin-top: 40px;
	}
}

#nav {
	text-align: center;
	font-size: 2em;
	height: 50px;
	width: 100%;
	background-color: white;
	margin: 0 auto;
	padding-bottom: 20px;
}

#nav ul {
	text-align: center;
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 40%;
	margin: 0 auto;
}

#nav li {
	display: inline;
	padding-right: 5%;
	padding-left: 5%;
}

@media (max-width: 700px) {
	#nav ul {
		font-size: .75em;
		width: 100%;
	}
	#nav li {
		padding-right: 4%;
		padding-left: 4%;
	}
}

hr {
	padding: 0;
	border: 2px solid #a96e6e;
	text-align: center;
	width: 66%;
    margin: 0 auto;
}

#nav a {
        color: black;
        text-decoration: none;
}

#nav a:hover {
        color: #a96e6e;
        text-decoration: none;
}

#section {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 100px;
	padding: 0px;
	display: table;
}

.sectionHeader {
    color: black;
	font-family: 'Pontano Sans', sans-serif;
    font-size: 1.25em;
    text-align: inherit;
    margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.resumeHeader {
    color: black;
	font-family: 'Pontano Sans', sans-serif;
    font-size: 1.25em;
    text-align: inherit;
    margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 16.5vw;
	margin-bottom: 4px;
}

.text {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1.1em;
	padding: 0px;
	overflow: hidden;
}

.text a {
    color: #a96e6e;
}

.text a:hover {
    color: black;
}

#section ul {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1em;	
	list-style-type: none;
	padding-left: 16.5vw;
	padding-right: 16.5vw;
	margin-top: 0px;
	margin-bottom: 15px;
}

@media (max-width: 700px) {
	.sectionHeader {
	    font-size: 1em;
	}
	.text {
		font-size: .75em;
	}
	.resumeHeader {
		font-size: 1em;
		padding-left: 5vw;
		margin-bottom: 4px;
	}
	#section ul {
		font-size: .75em;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}

span.resume_left {
	display: inline-block;
	width: 85%;
}

span.bullet_list {
	display: inline-block;
	width: 85%;
	padding-left: 40px;
	text-indent: -12px;
}

span.bold {
	font-weight: bold;
}

span.date {
	float: right;
}

table {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1em;	
	list-style-type: none;
	padding-left: 16.5vw;
	padding-right: 16.5vw;
	margin-top: 0px;
	margin-bottom: 15px;
}

span.italic {
	font-style: italic;
}

span.accent {
	color: #a96e6e;
}

hr.whitespace {
	height: 2px;
	visibility: hidden;
}

.left {
	float: left;
	width: 25%;
	padding-left: 22%;
}
.right {
	float: right;
	width: 28%;
	padding-right: 22%;
}

img {
	width: 72%;
	height: auto;
	float: right;
    border-radius: 100%;
}

#proj_grid {
    height: 40vw;
    width: 60vw;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 20vw;
}

.project {
    height: 50%;
    width: 46%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
    position: relative;
}

@media (max-width: 850px) { /*smallest screens*/
    .project {
        height: 300px;
        width: 100%;
        display: inline-block;
        margin-top: 3%;
        position: relative;
    }
}

/*biggest screens --- look into this*/
@media (min-width: 2000px) { 
    .project {
        height: 400px;
        width: 550px;
        display: inline-block;
        margin-top: 3%;
        position: relative;
        margin-left: calc((100% - 1100px) / 3);
    }
}

.notextlink {
    text-decoration: none;
}

#project1_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(assets/campaignviz.PNG);
    background-size: cover;
}

#project2_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(assets/cobot.PNG);
    background-size: cover;
}

#project3_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(assets/ansiblegalaxy.PNG);
    background-size: cover;
}

#project4_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(assets/atswitch.PNG);
    background-size: cover;
}

#project5_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
/*    background-image: url(assets/atswitch.png);*/
    background-size: cover;
}

#project6_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
/*    background-image: url(assets/atswitch.png);*/
    background-size: cover;
}

.coverbox {
    height: 20%;
    width: 100%;
/*    background-color: #d9b9b9;*/
    background-color: #d0d0d0;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    opacity: .9;
/*    overflow: scroll;*/
}

.cover_text {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1.1em;
    font-weight: bold;
	overflow: hidden;
    margin: 15px;
}

@media (max-width: 430px) {
    .cover_text {
        margin-top: 5px;
    }
}

@media (min-width: 850px) and (max-width: 1100px) { /*when it changes from two columns to one*/
    .coverbox {
        height: 30%;
    }
    .cover_text {
        margin-top: 5px;
    }
}

.description {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1em;
    font-weight: normal;
	overflow: hidden;
    margin: 15px;
    display: none;
}

