/* CSS file for the index of Laura's website */

h1 {
  font-family: Optima, Arial, sans-serif;
  color: white;
  background-color: #819FF7;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border: 0px #819FF7;
  margin: 0px;
}

#header {
  font-size: 2em;
}

#subHeader {
  font-size: 1.75em;
}
