
body {
        font-family: 'Amatic SC', Impact;
        color: black;
}


#header {
        text-align: center;
        font-size: 3em;
	font-weight: 900;
        width: auto;
        background-color: white;
        padding: 10px;
}


#nav {
        text-align: left;
        font-size: 2em;
        height: 50px;
        width: 500px;
        text-align: center;
        background-color: white;
}

#nav ul {
	height: auto;
	padding: 0px;
	margin: 0px;
}

#nav li {
	display: inline;
	padding: 40px;
}

hr {
	color: #a96e6e;
	padding: 0;
	border: none;
	text-align: center;
}

a:link {
        color: black;
        text-decoration: none;
}

a:hover {
        color: #ebf0f9;
        text-decoration: none;
}

a:visited {
        color: black;
        text-decoration: none;
}

a:active  {
        color: #ebf0f9;
        text-decoration: none;
}


.resumeHeader {
        color: black;
	font-family: 'Pontano Sans', Impact;
        font-size: 1.5em;
        text-align: left;
        line-height: 150%;
}

